<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 text-white p-10">
      <a class="text-blue-500" href="/">Back to home</a>
      <h1 class="text-3xl tracking-tight mt-5 mb-3">All Users</h1>
      <% if(users.length > 0){ %>

      <div class="Users flex gap-3 flex-wrap">
        <% users.forEach(function(user){ %>
        <div class="bg-zinc-800 w-64 p-4 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-red-500 overflow-hidden">
            <img
              class="w-full h-full object-cover"
              src="<%=user.image%>"
              alt=""
            />
          </div>
          <h3 class="texl-xl mt-2"><%=user.name %></h3>
          <h5 class="text-zinc-500"><%=user.email%></h5>
          <div class="flex gap-5 mt-10">
            <a class="text-zinc-200" href="/edit/<%= user._id%>">Edit User</a>
            <a class="text-red-500" href="/delete/<%= user._id%>"
              >Delete User</a
            >
          </div>
        </div>
        <% }) %>
      </div>
      <% }else {%>
      <h3 class="text-zinc-500">no users yet</h3>
      <%} %>
    </div>
  </body>
</html>
